
.acessar-image{
    background-image: url("Imagens/acesssar.png");
    height: 702px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.acessar{
    position: absolute;
    padding-left: 770px;
    padding-bottom: 200px;
    padding-top: 280px;

}
